# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PRO1G\Cwicz1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
